.btn-primary {
    font-size: 16px;
    width: 100%;
    max-width: 191px;
    padding: 5px 10px;
    background-color: rgb(0, 74, 173);
    border: none;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.1s;
    cursor: pointer;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgba(0, 74, 173, 0.85);
}

.btn-modal-detalhes {
  border: none;
  background: none;
}

.btn-modal-preview-relatorio {
  border: none;
  background: none;
}

.btn-delete-relatorio{
    border: none;
    background: none;
  }
    /* Remove decoração e espaçamento entre os ícones */
    td a,
    td button {
      text-decoration: none;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
    }
  
    td a img,
    td button img {
      display: inline-block;
      vertical-align: middle;
    }
    