@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

b {
  font-weight: 700;
}

.container {
  flex: 1;
  padding: 15px 30px;
  background-color: white;
}

.container-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
}

.container-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container-content-header .content-header-title {
  font-size: 30px;
  text-align: left;
  display: inline-block;
}

.container-content-header .content-header-title::after {
  content: "";
  display: flex;
  margin: 0 auto;
  width: 95%;
  height: 1px;
  background: #cbcbcb;
  margin-top: 2px;
  border-radius: 3px;
  transition: 0.3s width;
}

.content-header-actions {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  gap: 10px; /* Espaço entre os itens, ajuste conforme necessário */
}

.btn-action {
  display: flex;
  align-items: center;
  background-color: #004bad;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.btn-action:hover {
  background-color: #003a8a;
}

.btn-action img {
  margin-right: 5px;
}

.input-pesquisar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background: #efefef;
}

.responsive-table-container {
  overflow-x: auto;
}

.responsive-table-container table {
  width: 100%;
}

table tr {
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
}

table th {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

table td {
  text-align: left;
  font-size: 16px;
  padding: 10px 0px;
}

table td img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  vertical-align: bottom;
}

table td img.arrow {
  width: 15px;
  height: 15px;
}
