
 input{
    background-color: #D1D1D1;
    height: auto;
    padding: 18px;
    width: 25%;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    outline: none;
}
